<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出</title>

<link rel = "stylesheet"
href = "ButtonStyle.css"
type = "text/css"
media = "all"
>

<link rel = "stylesheet"
href = "FontStyle.css"
type = "text/css"
media = "all"
>

<link rel = "stylesheet"
href = "BoxSizeChg.css"
type = "text/css"
media = "all"
>

<script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src = "LendSystem/LendSysConnect.js"></script>
<script src = "LendSystem/ClearPush.js"></script>
<script src = "LendSystem/TableButtonPush.js"></script>
<script src = "CreateTableLe.js"></script>
<script src = "ErrorMsgLeRet.js"></script>
<script src = "LendSystem/LendFlag.js"></script>
<script src = "InsertChkLeRet.js"></script>
<script src = "LendSystem/CreateLendList.js"></script>
</head>

<body>
<p>貸出</p>
<div class = "fontChg30">
<div class = "parent">
<form action = "LibrarySystem_LendCfg" method = "post" name = "formName">
<div th:text = "${cardNumber}" class = "left"></div>
<div th:text = "''+${remaining}+' 冊まで貸出できます'"></div>
<input type = "hidden" id = "lendLim" name = "remaining"  th:value = "${remaining}">
<input type = "hidden" id = "cardNumber" name = "cardNumber" th:value = "${cardNumber}">
<input type = "hidden" name = "userName" th:value = "${userName}">
</div>
<div class = "center">
	<div id = "errorMsg"></div>
	<th:block th:each = "i :${#numbers.sequence(1, remaining)}">
		<div th:text = "''+${i}+'冊目'"></div>
		<div>　書籍番号：<input type = "text" th:id = "'bookNum'+${i}+''" th:name = "${i}" class = "lendSystemsize" maxlength = 6  onchange = "insertChkA(this.name)"></div>
		<p>　　書籍名：<input type = "text" th:id = "'bookName'+${i}+''" th:name = "${i}"  class = "lendSystemsize" readonly></p>
		<div>書籍枝番号：<input type = "text" th:id = "'bookBNum'+${i}+''"  th:name = "${i}" class = "lendSystemsize" maxlength = 1 onchange = "insertChkA(this.name)"></div>
		<div><input type = "button" th:id = "'clear' +${i}+ ''" th:name = "${i}" th:value = "'' +${i}+ '冊目クリア'" class = "buttonSizeM clearbutton" onclick = "ClearButton(this.name)"></div>
		<br th:id = "'br' +${i}+ ''">
		<input type = "hidden" th:id = "'id' +${i}+ ''" value = 0>
		<br>
	</th:block>

<input type = "hidden" id = "lendData" name = "lendList" value = 0>
<input type = "button" id = "lendCfg" name = "lendCfg" value = "貸出確認" class = "buttonSizeM" onclick="createList()">
</form>
<br>
<form action = "LibrarySystem_LendReturn" method = "post">
<input type = "hidden" name = "cardNumber" th:value = "${cardNumber}">
<input type = "hidden" name = "userName" th:value = "${userName}">
<input type = "submit" value = "戻る" class = "buttonSizeS">
</form>
</div>
</div>
</body>

</html>