<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>返却</title>

<link rel = "stylesheet"
href = "ButtonStyle.css"
type = "text/css"
media = "all"
>

<link rel = "stylesheet"
href = "FontStyle.css"
type = "text/css"
media = "all"
>

<link rel = "stylesheet"
href = "BoxSizeChg.css"
type = "text/css"
media = "all"
>
<script src = "Return/CreateTableRet.js"></script>
<script src = "Return/TableColorChg.js"></script>
<script src = "Return/BtnDisable.js"></script>
</head>

<body>
<p>
<div>返却</div>
</p>

<div class = "fontChg30">
<div th:text = "'図書カード番号：'+${cardNumber}+''"></div>
<div class = "center">
	<form action = "LibrarySystem_RetCfm" method = "post">
	<div id = "tableSet"></div>
	<input type = "hidden" id = "dataString" th:value = "${dataString}">
	<input type = "button" id = "allselect" value = "全選択" class = "buttonSizeM" onclick = "allCheck()">
	<br>
	<input type = "button" id = "allclear" value = "全クリア" class = "buttonSizeM" onclick = "allClear()">
	<br>
	<input type = "hidden" name = "cardNumber" th:value = "${cardNumber}">
	<input type = "hidden" name = "userName" th:value = "${userName}">
	<input type = "hidden" id = "returnData" name = "returnData">
	<input type = "submit" id = "retButton" value = "返却確認" class = "buttonSizeM">
	</form>
	<form action = "LibrarySystem_LendReturn" method = "post">
	<input type = "hidden" name = "cardNumber" th:value = "${cardNumber}">
	<input type = "hidden" name = "userName" th:value = "${userName}">
	<input type = "submit" value = "戻る" class = "buttonSizeS">
	</form>
</div>
</div>
</body>
</html>